{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endwith %}

{% if error %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Error:</strong> {{ error }}
	</div>
{% endif %}
