<!DOCTYPE html>
<html>
<head>
	<title>Test flask</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0-beta/css/bootstrap.min.css') }}">
</head>
<body>
	{% include '_navbar.html' %}
	<div class="container">
		{% include '_message.html' %}
		{% block body %} {% endblock %}
	</div>

	<script src="static/jquery-3.2.1.min.js"></script>
	<script src="static/popper.js-1.12.4/umd/popper.min.js"></script>
	<script src="static/bootstrap-4.0.0-beta/js/bootstrap.min.js"></script>

</body>
</html>
