{% extends 'layout.html' %}

{% block body %}
<h2>Login</h2>
<form method="POST">
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ request.form.email }}">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input name="password" type="password" class="form-control" id="password" placeholder="Password" value="{{ request.form.password }}">
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input">
			Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
